@model Numiteq.Areas.Admin.ViewModels.MessageEmails.AddMessageEmailViewModel

<div class="row">
    <div class="col-md-6">
        <form method="post" asp-action="Add" class="form-inline">

            <div class="form-group">
                <label asp-for="Email" class="mr-3"></label>
                <input asp-for="Email" class="form-control mr-3" />
                <button type="submit" class="btn btn-dark btn--large">Save</button>
            </div>

            <span asp-validation-for="Email" class="text-danger"></span>

        </form>
    </div>
</div>
