@model Numiteq.Areas.Admin.ViewModels.Layout.HeaderViewModel
@{
    ViewData["Title"] = "Header settings";
}

<div class="row">
    <div class="col-md-8">
        <form method="post">

            <h4>Menu item 1</h4>
            <div class="form-group">
                <label asp-for="Link1Title"></label>
                <input asp-for="Link1Title" class="form-control" />
                <span asp-validation-for="Link1Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link1Url"></label>
                <input asp-for="Link1Url" class="form-control" />
                <span asp-validation-for="Link1Url" class="text-danger"></span>
            </div>

            <h4>Menu item 2</h4>
            <div class="form-group">
                <label asp-for="Link2Title"></label>
                <input asp-for="Link2Title" class="form-control" />
                <span asp-validation-for="Link2Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link2Url"></label>
                <input asp-for="Link2Url" class="form-control" />
                <span asp-validation-for="Link2Url" class="text-danger"></span>
            </div>

            <h4>Menu item 3</h4>
            <div class="form-group">
                <label asp-for="Link3Title"></label>
                <input asp-for="Link3Title" class="form-control" />
                <span asp-validation-for="Link3Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link3Url"></label>
                <input asp-for="Link3Url" class="form-control" />
                <span asp-validation-for="Link3Url" class="text-danger"></span>
            </div>

            <h4>Menu item 4</h4>
            <div class="form-group">
                <label asp-for="Link4Title"></label>
                <input asp-for="Link4Title" class="form-control" />
                <span asp-validation-for="Link4Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link4Url"></label>
                <input asp-for="Link4Url" class="form-control" />
                <span asp-validation-for="Link4Url" class="text-danger"></span>
            </div>

            <h4>Menu item 5</h4>
            <div class="form-group">
                <label asp-for="Link5Title"></label>
                <input asp-for="Link5Title" class="form-control" />
                <span asp-validation-for="Link5Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link5Url"></label>
                <input asp-for="Link5Url" class="form-control" />
                <span asp-validation-for="Link5Url" class="text-danger"></span>
            </div>

            <h4>Menu item 6</h4>
            <div class="form-group">
                <label asp-for="Link6Title"></label>
                <input asp-for="Link6Title" class="form-control" />
                <span asp-validation-for="Link6Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link6Url"></label>
                <input asp-for="Link6Url" class="form-control" />
                <span asp-validation-for="Link6Url" class="text-danger"></span>
            </div>

            <h4>Last menu item</h4>
            <div class="form-group">
                <label asp-for="LastLinkTitle"></label>
                <input asp-for="LastLinkTitle" class="form-control" />
                <span asp-validation-for="LastLinkTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastLinkUrl"></label>
                <input asp-for="LastLinkUrl" class="form-control" />
                <span asp-validation-for="LastLinkUrl" class="text-danger"></span>
            </div>

            <hr />

            <div class="form-button">
                <button type="submit" class="btn btn-dark">Save</button>
                <a asp-action="Index" class="btn btn-outline-secondary">Cancel</a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
