
@{
    ViewData["Title"] = "Admin";
    ViewData["Description"] = "Administration settings links";
}

<div class="link-group">
    <p><a asp-action="Index" asp-controller="MainService">Main services</a></p>
    <p><a asp-action="Index" asp-controller="Service">Services</a></p>
    <p><a asp-action="Index" asp-controller="Number">Numbers</a></p>
    <p><a asp-action="Index" asp-controller="Step">Steps</a></p>
    <p><a asp-action="Index" asp-controller="Expertise">Expertises</a></p>
    <p><a asp-action="Index" asp-controller="MessageEmail">Message emails</a></p>
    <p><a asp-action="Index" asp-controller="User">Users</a></p>
    <p><a asp-action="Index" asp-controller="Settings">Settings</a></p>
</div>
