* {
  font-family: "OpenSans";
  font-size: 22px;
  line-height: 38px;
  font-weight: normal;
  font-style: normal; }

p {
  margin: 0; }

body {
  background: black; }

a:link,
a:visited,
a:hover {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  cursor: pointer;
  transition: 1s ease-out; }

.button-bg-fill {
  display: flex;
  width: fit-content;
  height: fit-content;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.1);
  transition: 1s ease-out; }
  .button-bg-fill:hover {
    background: rgba(255, 255, 255, 0.05); }
  .button-bg-fill .nav-link {
    padding: 16px 37px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.7); }
    .button-bg-fill .nav-link:hover {
      color: rgba(255, 255, 255, 0.9); }
  .button-bg-fill .nav-item {
    padding: 0; }

.navbar {
  margin: 20px 40px; }
  .navbar a:hover {
    color: rgba(255, 255, 255, 0.9); }
  .navbar .logo {
    height: 57px; }
  .navbar .navbar-nav {
    color: rgba(255, 255, 255, 0.5);
    list-style-type: none; }
    .navbar .navbar-nav .button-bg-fill {
      margin-left: 20px; }
      .navbar .navbar-nav .button-bg-fill .nav-link {
        padding: 16px 37px; }
    .navbar .navbar-nav .nav-link {
      padding: 20px;
      font-size: 13px;
      line-height: 10px;
      text-transform: uppercase; }

footer .navbar-nav {
  width: 380px; }

footer .footer-but svg {
  margin-bottom: -4px;
  margin-right: 12px; }

footer .footer-but .copyrights {
  margin-top: 15px;
  font-size: 11px;
  text-align: center; }

.title {
  margin-top: 130px;
  width: 540px; }
  .title-h2 {
    color: #343434;
    font-family: "GothamPro";
    font-weight: 600;
    font-style: normal;
    font-size: 36px;
    margin-bottom: 40px; }
  .title-description {
    color: #767676; }

/* Carousel */
.carousel-item {
  height: 100vh;
  width: 100%;
  position: relative; }
  .carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%; }

/* Servises */
.services {
  background: url(../images/office.jpg) no-repeat;
  background-size: contain;
  height: 980px;
  background-position: left center; }
  .services-text {
    margin-left: 42%;
    padding-left: 40px;
    width: 58%;
    background: #f8f8f8;
    border-bottom: 1px solid #e0e0e0;
    position: relative; }
    .services-text .title {
      margin-left: auto;
      margin-right: 130px; }
      .services-text .title::after {
        content: "";
        margin-top: 70px;
        display: block;
        border-bottom: 1px solid #e0e0e0;
        width: 100%; }
  .services-cont {
    margin-top: 60px;
    margin-left: auto;
    margin-right: 130px;
    width: 540px; }
    .services-cont .cont {
      width: 230px;
      margin-bottom: 70px; }
      .services-cont .cont-title {
        margin-top: 12px;
        margin-bottom: 13px;
        font-size: 18px;
        font-weight: 600;
        font-style: normal;
        line-height: 26px;
        color: #343434; }
      .services-cont .cont p {
        font-size: 15px;
        line-height: 26px;
        color: #767676; }

