* {
  font-family: "OpenSans";
  font-size: 22px;
  font-weight: normal;
  font-style: normal; }

body {
  background: black; }

a:link,
a:visited,
a:hover {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  cursor: pointer;
  transition: 1s ease-out; }

.button-bg-fill {
  display: flex;
  width: fit-content;
  height: fit-content;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.1);
  transition: 1s ease-out; }
  .button-bg-fill:hover {
    background: rgba(255, 255, 255, 0.05); }
  .button-bg-fill .nav-link {
    padding: 16px 37px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.7); }
    .button-bg-fill .nav-link:hover {
      color: rgba(255, 255, 255, 0.9); }
  .button-bg-fill .nav-item {
    padding: 0; }

.navbar {
  margin: 20px 40px; }
  .navbar a:hover {
    color: rgba(255, 255, 255, 0.9); }
  .navbar .logo {
    height: 57px; }
  .navbar .navbar-nav {
    color: rgba(255, 255, 255, 0.5);
    list-style-type: none; }
    .navbar .navbar-nav .button-bg-fill {
      margin-left: 20px; }
      .navbar .navbar-nav .button-bg-fill .nav-link {
        padding: 16px 37px; }
    .navbar .navbar-nav .nav-link {
      padding: 20px;
      font-size: 13px;
      line-height: 10px;
      text-transform: uppercase; }

footer .navbar-nav {
  width: 380px; }

footer .footer-but svg {
  margin-bottom: -4px;
  margin-right: 12px; }

footer .footer-but .copyrights {
  margin-top: 15px;
  font-size: 11px;
  text-align: center; }

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.carousel-item {
  height: 100vh;
  width: 100%;
  position: relative; }
  .carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    align: bottom; }

.image-services {
  width: 40%;
  height: 500px;
  background: url(../images/office.jpg);
  background-position: center center;
  background-attachment: scroll;
  background-size: cover; }

/* Carousel */

