@model Numiteq.Areas.Admin.ViewModels.Services.AddServiceViewModel
@{
    ViewData["Title"] = "Add service";
}

<div class="row">
    <div class="col-md-8">
        <form method="post" enctype="multipart/form-data">

            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Icon"></label>
                <input asp-for="Icon" type="file" class="form-control" />
                <span asp-validation-for="Icon" class="text-danger"></span>
            </div>

            <hr />

            <div class="form-button">
                <button type="submit" class="btn btn-dark">Save</button>
                <a asp-action="Index" class="btn btn-outline-secondary">Cancel</a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
