@import "variables.scss";

* {
    font-family: "GothamPro";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    color: $primary-color-dark;
}

p {
    margin: 0;
}

hr {
    margin: 40px 0;
    padding: 0;
}

a:link,
a:visited,
a:hover {
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s ease-out;
}

.field-validation-error {
    display: block;
    margin-top: 5px;

    span {
        color: tomato;
    }
}

.input-validation-error {
    border-color: tomato;
}