@import "variables.scss";

* {
    font-family: "GothamPro";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    color: $primary-color-dark;
}

p {
    margin: 0;
}

hr {
    margin: 40px 0;
    padding: 0;
}