$bg-white: #ffffff;
$color-white-trans: rgba(255,255,255, .5);
$line-separ: #e0e0e0;
$title: #343434;
$title-descr: #767676;
$background-text: #232323;

* {
    font-family: "OpenSans";
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
}

body {
    background: $background-text;
}

p {
    margin: 0;
}

.container, .container-fluid {
    padding: 0;
}

a:link,
a:visited,
a:hover {
    color: $color-white-trans;
    text-decoration: none;
    cursor: pointer;
    transition: 1s ease-out;
}

.button-bg-fill {
    display: flex;
    width: fit-content;
    height: fit-content;
    border-radius: 25px;
    background: rgba(255,255,255,.1);
    transition: 1s ease-out;

    &:hover {
        background: rgba(255,255,255,.05);
    }

    .nav-link {
        padding: 16px 37px;
        font-size: 13px;
        color: rgba(255,255,255, .7);

        &:hover {
            color: rgba(255,255,255, .9);
        }
    }

    .nav-item {
        padding: 0;
    }
}

.navbar {
    margin: 20px 40px;

    a:hover {
        color: rgba(255,255,255, .9);
    }

    .logo {
        height: 57px;
    }

    .navbar-nav {
        color: $color-white-trans;
        list-style-type: none;

        .button-bg-fill {
            margin-left: 20px;
            .nav-link {
                padding: 16px 37px;
            }
        }

        .nav-link {
            padding: 20px;
            font-size: 13px;
            line-height: 10px;
            text-transform: uppercase;
        }
    }
}

footer {
    padding-top: 30px;
    padding-bottom: 30px;

    .navbar-nav {
        width: 380px;
    }

    .footer-but {
        svg {
            margin-bottom: -4px;
            margin-right: 12px;
        }

        .copyrights {
            margin-top: 15px;
            font-size: 11px;
            text-align: center;
        }
    }
}

.title {
    margin-top: 130px;
    

    &-h2 {
        margin-bottom: 40px;
        color: $title;
        font-family: "GothamPro";
        font-weight: 600;
        font-style: normal;
        font-size: 36px;
    }

    &-description {
        color: $title-descr;
    }
}

/* Carousel */
.carousel-item {
    height: 100vh;
    width: 100%;
    position: relative;
    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

/* Description */
.description {
    margin-top: 130px;
    margin-bottom: 140px;
    color: $bg-white;

    .title {
        margin-top: 0;
        font-family: "GothamPro";
        font-weight: 100;
        font-style: normal;
        font-size: 13px;
        line-height: 34px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: rgba(255,255,255, .7);
    }
}

/* Servises */
.services {
    background: url(../images/office.jpg) no-repeat;
    background-size: contain;
    height: 980px;
    background-position: left center;

    &-text {
        margin-left: auto;
        padding-left: 40px;
        width: 58%;
        background: $bg-white;
        border-bottom: 1px solid $line-separ;
        position: relative;

        .title {
            margin-left: auto;
            margin-right: auto;

            &::after {
                content: "";
                margin-top: 70px;
                display: block;
                border-bottom: 1px solid $line-separ;
                width: 100%;
            }
        }
    }

    &-cont {
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        max-width: 540px;

        .cont {
            width: 240px;
            margin-bottom: 70px;

            &-title {
                margin-top: 12px;
                margin-bottom: 13px;
                font-size: 18px;
                font-weight: 600;
                font-style: normal;
                line-height: 26px;
                color: $title;
            }

            p {
                font-size: 15px;
                line-height: 26px;
                color: $title-descr;
            }
        }
    }
}

/* Numbers */
.numbers {
    background: $bg-white;
    padding-bottom: 147px;

    .title {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 70px;
        text-align: center;
    }

    &-row .num-element {
        text-align: center;
        margin-right: 176px;

        div {
            position: relative;
            font-family: "GothamPro";
            font-weight: 100;
            font-style: normal;
            font-size: 96px;
            line-height: 90px;
            color: $title;

            &::after {
                content: "";
                position: absolute;
                top: 21px;
                right: -88px;
                display: block;
                border-right: 1px solid $line-separ;
                height: 48px;
            }
        }

        &:last-child {
            margin-right: 0;

            div::after {
                content: none;
            }
        }

        span {
            font-family: "OpenSans";
            font-weight: normal;
            font-style: normal;
            font-size: 15px;
            line-height: 26px;
            color: $title-descr;
        }
    }
}

