@{
    Layout = "_Layout";
}

<div class="admin-page">
    <div class="section">
        <div class="container">
            @RenderBody()
        </div>
    </div>
</div>

@RenderSection("Scripts", required: false)