@{
    Layout = "_Layout";
}

<div class="admin">
    <div class="admin-header">
        <div class="section admin-header__inner">
            <div class="container">
                <div class="title title--light title--xlarge">Numiteq Administration</div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            @RenderBody()
        </div>
    </div>
</div>

@RenderSection("Scripts", required: false)