@{
    Layout = "_Layout";
}

<div class="admin">
    <div class="admin-header">
        <div class="section admin-header__inner">
            <div class="container">
                <div class="title title--light title--xlarge">Numiteq Administration</div>
            </div>
        </div>
    </div>
    <div class="section section--light">
        <div class="container">
            <div class="section-top">
                @if (ViewData.ContainsKey("Title"))
                {
                    <div class="title title--large">@ViewData["Title"]</div>
                }
                @if (ViewData.ContainsKey("Description"))
                {
                    <div class="text text--dark">@ViewData["Description"]</div>
                }
            </div>
            @RenderBody()
        </div>
    </div>
</div>

@RenderSection("Scripts", required: false)