@model Numiteq.ViewModels.Home.HomeDescriptionSectionViewModel


<div class="section section--dark">
    <div class="container">
        <div class="title title--upper">@Model.HomeDescription.Title</div>
        <p class="text text--light">@Model.HomeDescription.Description</p>
    </div>
</div>