@model Numiteq.ViewModels.Home.HomeDescriptionSectionViewModel

<div class="container-fluid description">
    <div class="container">
        <div class="title">@Model.HomeDescription.Title</div>
        <p>@Model.HomeDescription.Description</p>
    </div>
</div>