@model Numiteq.ViewModels.Home.NumberSectionViewModel

<div class="section number-section section--light">
    <div class="container">
        <div class="text-center">
            <div class="title title--large">@Model.NumberSettings.Title</div>
            <div class="text text--dark">@Model.NumberSettings.Description</div>
        </div>
        <div class="number__list text-center">
            @foreach (var number in Model.Numbers)
            {
                <div class="number">
                    <div class="number__value">@number.Value</div>
                    <div class="number__label">@number.Label</div>
                </div>
            }
        </div>
    </div>
</div>
