
@{
    ViewData["Title"] = "Settings";
}

<h2>@ViewData["Title"]</h2>

<div>
    <p><a asp-action="Header" asp-controller="Layout">Header settings</a></p>
    <p><a asp-action="Footer" asp-controller="Layout">Footer settings</a></p>
    <p><a asp-action="HomeDescription" asp-controller="Settings">Home page description</a></p>
    <p><a asp-action="HomeWwd" asp-controller="Settings">Home page - What We Do</a></p>
    <p><a asp-action="HomeBanner" asp-controller="Settings">Home page banner</a></p>
    <p><a asp-action="WwdBanner" asp-controller="Settings">What We Do page banner</a></p>
    <p><a asp-action="HwdBanner" asp-controller="Settings">How We Do page banner</a></p>
    <p><a asp-action="Contacts" asp-controller="Settings">Contacts page settings</a></p>
    <p><a asp-action="Index" asp-controller="Home">Back to admin</a></p>
</div>

